@{
    ViewData["Title"] = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_Layout_LoginAndRegister.cshtml";
}
<div class="container-fluid page-header-login py-5">
    <h1 class="text-center text-white display-6">Trang xác nhận thanh toán</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Xác nhận thanh toán</a></li>

    </ol>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Đơn hàng đã được xác nhận!</h4>
                <p>Đơn hàng của bạn đã được đặt thành công. Cảm ơn bạn đã mua sắm với chúng tôi!</p>
                <hr>
            </div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-4">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>
